/.settings/
/.buildpath
/.project
/vendor/

/app/config/parameters.yml
/app/config/log.yml
/app/config/hosters.yml
/app/config/passwords.txt
/app/config/test_synology.yml
/links/
/build/
/logs/
/dist/
/tmp/*.cookie
/ocular.phar
/phpunit.xml
/.couscous/
/couscous.phar
/.idea/
