/cache/dev/
/cache/prod/
/cache/test/
/cache/test_synology/

/data/Links/*.dlc
/data/Downloads/job-*
/data/New/job-*
/data/Sound/job-*

/logs/dev.log
/logs/prod.log
/logs/test.log
/logs/test_synology.log

/sessions/dev/
/sessions/prod/
/sessions/test/
/sessions/test_synology/

/tmp/*.cookie
/tmp/*.pid
/tmp/github-update-data.json

/data.db
/data.db.test
/SymfonyRequirements.php
/bootstrap.php.cache
